.aug2021-footer {
  background-color: #479cda;
  color: #ffffff;
  .aug2021-footer-wrapper {
    padding: 4rem 6rem;
    justify-content: center;
  }
  .aug2021-footer-logo-wrapper {
    justify-content: center;
  }
  .aug2021-footerlogo {
    width: 70%;
    align-self: center;
  }
  .aug2021-contact-us-wrapper {
    padding: 40px 0 0 0;
    h4 {
      font-size: 30px;
      padding: 0 0 20px 0;
    }
  }
  .aug2021-social-media-wrapper {
    padding: 40px 0 0 0;
    h4 {
      font-size: 30px;
      padding: 0 0 20px 0;
    }
    .aug2021-media-array {
      margin: 0 auto;
    }
    .aug2021-social-media-icon {
      color: #fff;
      padding: 0 22px;
    }
  }
  .aug2021-copyright {
    font-size: 14px;
    text-align: center;
    padding: 15px 0;
  }
}

// @media (max-width: 576px) {
//   .aug2021-footerlogo {
//     max-width: 100%;
//   }
// }

// for mobile
@media only screen and (max-width: 768px) {
  .aug2021-footer {
    .aug2021-footer-wrapper {
      padding: 4rem 0;
    }
    .aug2021-footerlogo {
      width: 60%;
    }
  }
}
